/* Deprecated code */
/* Replace rave  logo */
/* Hide chevron near case number */
/* Setting the phone number background to white  */
/* Set width of all communicaton/case notes to 90% */
/* keyframes to cycle through colors */
/* Make attachments show in single line , */
/* Set Z-index of the dropdown menu */
/* Set width of the email/notes form to 100% */
/* Style the  search box in navbar */
/* Set border color for navbar and tabs */

/* Add scrollbar to case summary */
#caseSummaryScroll {
  overflow-y: scroll !important;
  overflow-x: hidden !important;
  height: 75vh !important;
}

/* Hide elements */
.whatsnew-header-icon,
.vertical-division,
.top-bottom-nav,
div.feedback-box {
  display: none !important;
}

#react-editor {
  background-color: #ffffff1c !important;
  /* height: max-content !important; */
}

#breadcrumb * {
  padding: 0px !important;
  /* margin: 0px !important;  */
  /* font-weight: 300 !important;
  font-size: 21px !important; */
  vertical-align: 0px !important;
}

/* .case-overview i {
    color: #a5a5a5 !important;
    font-size: 15px !important;
} */

.case-overview-info {
  margin-right: 10px !important;
}

.case-overview {
  align-items: center !important;
}

/* Style the proposed solution block */
#proposed-solution > div {
  background-color: #ffffff1c !important;
  overflow-y: auto;
  height: 250px;
}

/* Style  the service incident information */
#service-incident {
  /* background-color: cornsilk; */
  overflow-y: auto;
  height: 250px;
}

#customer-info .panel-body {
  font-style: normal !important;
  margin: inherit;
  /* padding: inherit; */
}

#customer-info button,
img {
  display: none;
}

.quick-view-email {
  text-overflow: none;
  /* display: inline-block; */
  max-width: 100% !important;
  /* white-space: nowrap; */
  overflow: visible !important;
  /* vertical-align: bottom; */
}

.quickview-div {
  margin-bottom: 0px !important;
}

.rct-clipboard-copy .clipboard-button {
  visibility: visible !important;
}

.panel-body * {
  border-style: none !important;
}

/* Remove the formatting on the email modality tag */
.modality-email,
.collab-breadcrumb,
.modality-smc,
.oed-badge {
  background-color: var(--primaryColor) !important;
  /* color: inherit !important;
  font-size: inherit !important;
  font-weight: normal !important; */
  /* padding: "" !important; */
}

/* Style the scrollbar to make it more visible */
#caseSummaryScroll::-webkit-scrollbar {
  width: 20px !important;
  /* background: hsla(0, 0%, 100%, 0.05) !important; */
}

body::-webkit-scrollbar-thumb {
  /* border-radius: 10px; */
  /* background-color: var(--primaryColor) !important; */
  /* min-height: 40px !important; */
  /* max-height: 40px !important; */
}

body::-webkit-scrollbar-track {
  background: none !important;
}

/* Apply gradient color to the navbar
.navbar,
.viewed-cases .nav.nav-pills {
	background-image: linear-gradient(to right, #051937, #004d7a, #008793) !important;
} */

/* Set background color for active tabs */
.nav-pills > li.active > a,
.nav-pills > li.active > a:focus,
.nav-pills > li > a:focus,
.nav-pills > li > a:hover {
  background-color: rgba(255, 255, 255, 0.3) !important;
}

/* Make the onecloud icon background transparent */
.onecloud-header-icon {
  background: transparent !important;
}

.chat-bubble-incoming,
.chat-bubble-outgoing,
.chat-bubble-misc,
.chat-bubble-note,
.reopen-bubble,
.diagnostic-bubble,
.callmenow-bubble {
  width: 90% !important;
  border: none !important;
}

/* Applying style to the Diamond icon */
.ms-Icon-FullMDL--Diamond {
  background-color: transparent !important;
}

/* Add stars gif to image on homepage*/
img.noresults-telescopeman {
  background: url("http://cbimg9.com/graphics/08/08/57933c.gif") no-repeat;
}
